################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PollyTest/.vs
/PollyTest/PollyTest/bin
/PollyTest/PollyTest/obj
